In [1]:
import warnings
warnings.filterwarnings('ignore')
from glob import glob
import os
import pickle
from tqdm.notebook import tqdm
import pandas as pd
import numpy as np
import math
import re
from collections import Counter
from scipy.sparse import csr_matrix
import itertools

In [2]:
PATH_TO_DATA = '..\\capstone_user_identification'

In [9]:
PATH_TO_EXPS = 'user_identification_exps'

In [5]:
def load_dict(path_to_dict):
    """Функция, загружающая словарь частот из файла"""
    with open(path_to_dict, 'rb') as site_freq_pkl:
        site_freq = pickle.load(site_freq_pkl)
    return site_freq

Словарь сайтов формата:  
  
{имя сайта : (id сайта, частота встречаемости сайта по всем пользователям)}

In [8]:
site_freq = load_dict(os.path.join(PATH_TO_DATA, 'site_freq_3users.pkl'))
site_freq

{'google.com': (1, 9),
 'oracle.com': (2, 8),
 'vk.com': (3, 3),
 'meduza.io': (4, 3),
 'mail.google.com': (5, 2),
 'football.kulichki.ru': (6, 2),
 'geo.mozilla.org': (7, 1),
 'accounts.google.com': (8, 1),
 'apis.google.com': (9, 1),
 'plus.google.com': (10, 1),
 'yandex.ru': (11, 1)}

In [14]:
def create_sites_dict(path_to_csv_files):
    """Функция, которая читает все файлы в директории и составляет словарь частот для сайтов"""
    
    # Функция, создающая уникальный словарь из frame
    def dict_by_user(frame):
        nonlocal dict_size
        fr_dict = dict(Counter(frame))
        for key in fr_dict:
            dict_size += 1
            fr_dict[key] = (dict_size, fr_dict[key])
        return fr_dict
    
    # Функция, объединяющая словари, собранные из разных файлов: dict1, dict2 вида {key: (id, freq)}
    def dict_concat(dict1, dict2):
        for key in dict2:
            if key in dict1:
                dict1[key] = (dict1[key][0], dict1[key][1] + dict2[key][1])
            else:
                dict1[key] = dict2[key]
        return dict1
    
    paths_to_csv = glob(os.path.join(path_to_csv_files, 'user*.csv'))
    fr_dict = {}
    dict_size = 0
    for path in paths_to_csv:
        user_sites = pd.read_csv(path).site
        fr_dict = dict_concat(fr_dict, dict_by_user(user_sites))
    
    fr_dict_new = {}
    for i, el in enumerate(sorted(fr_dict.items(), key=lambda x: x[1][1], reverse=True)):
        fr_dict_new[el[0]] = (i+1, el[1][1])
    
    return fr_dict_new

In [3]:
def prepare_train_set(path_to_csv_files, path_to_dict, session_length=10, window_size=10, time_limit=5*60):
    """Функция, разбивающая историю посещений сайтов на сессии длинной session_length, со сдвигом window_size, и с ограничением
    по времни time_limit.
        path_to_csv_files - путь к директории с файлами вида user\d{4}.csv
        path_to_dict - путь к файлу со словарем частот"""
    
    paths_to_csv = glob(os.path.join(path_to_csv_files, 'user*.csv'))
    # загрузка словаря
    with open(path_to_dict, 'rb') as site_freq_pkl:
        site_freq = pickle.load(site_freq_pkl)
    
    def make_sess_idxs(end_id, idx_shift):
        temp_idxs = []
        row = [0]
        sess_number = 0
        base = np.array(range(session_length)) + idx_shift
        while True:
            row = base + window_size*sess_number
            sess_number += 1
            temp_idxs.append(row)
            if row[0]+window_size>=end_id: break
        temp_idxs = np.array(temp_idxs)
        temp_idxs[temp_idxs>end_id] = end_id
        return temp_idxs
   
    files_sess_data = []
    for path in tqdm(paths_to_csv):
        # считываем файл и меняем тип времени
        user_data = pd.read_csv(path).astype({'timestamp': 'datetime64'})
        # применяем словарь к именам сайтов
        user_data.site = user_data.site.map(lambda key: site_freq[key][0])
        # вычисляем разность времени заходов на сайты
        user_data[['time_diff']] = (user_data.timestamp - user_data.timestamp.shift(1)).apply(lambda x: x.total_seconds())
        user_time = user_data.time_diff
        user_time.index -= 1
        user_data.time_diff = user_time
        user_data = user_data.fillna(0).astype({'site': 'int', 'time_diff': 'int'})
        user_data.loc[user_data.shape[0]] = [0, 0, 0]
        # вычисляем массив индексов для сортировки на сессии со скользящим окном
        cut_idx = 0
        shift_size = 0
        data_idxs = np.zeros((1, session_length))
        i = 0
        while True:
            temp_idxs = make_sess_idxs(user_data.shape[0]-1, cut_idx + shift_size)
            if temp_idxs.shape[0]>0:
                data_idxs = np.vstack((data_idxs, temp_idxs)).astype(int)
                if data_idxs[0].sum()==0:
                    data_idxs = data_idxs[1:]
            diff_times = user_data.time_diff.values[data_idxs]
            check_limit = np.where(diff_times.sum(axis=1) > time_limit)[0]
            if i+1 > check_limit.shape[0]: break
            time_sum = 0
            for j, time in enumerate(diff_times[check_limit[i]]):
                time_sum += time
                if time_sum > time_limit: break
            cut_idx = check_limit[i]*session_length + j + 1
            shift_size = (session_length - cut_idx%session_length)%session_length
            cut_idx = data_idxs.ravel()[cut_idx]
            empty_rows = pd.DataFrame(0, index=range(shift_size), columns=user_data.columns)
            user_data = pd.concat((user_data.iloc[:cut_idx], empty_rows, user_data.iloc[cut_idx:])).reset_index(drop=True)
            data_idxs = data_idxs[:check_limit[i]+1]
            i += 1
    
        # вычисление часа захода на сайт
        user_time = user_data.timestamp
        user_time[user_time==0] = np.nan
        user_time = pd.to_datetime(user_time)
        start_hour = user_time.apply(lambda x: x.hour)
        start_hour = start_hour[data_idxs[:, 0]].values[:, np.newaxis]
        # вычисление дня недели захода на сайт
        day_of_week = user_time.apply(lambda x: x.weekday())
        day_of_week = day_of_week[data_idxs[:, 0]].values[:, np.newaxis]
        # вычисление года захода на сайт
        year = user_time.apply(lambda x: x.year)
        year = year[data_idxs[:, 0]].values[:, np.newaxis]
        # вычисление месяца захода на сайт
        month = user_time.apply(lambda x: x.month)
        month = month[data_idxs[:, 0]].values[:, np.newaxis]
        # вычисление дня месяца захода на сайт
        day = user_time.apply(lambda x: x.day)
        day = day[data_idxs[:, 0]].values[:, np.newaxis]
        # вычисление времени суток захода на сайт
        time_of_day = user_time.apply(lambda x: x.hour)
        time_of_day[time_of_day<12] = 0
        time_of_day[time_of_day.between(12, 16)] = 1
        time_of_day[time_of_day>16] = 2
        time_of_day = time_of_day[data_idxs[:, 0]].values[:, np.newaxis]
        
        sess_data = user_data.site.values[data_idxs]
        diff_times = user_data.time_diff.values[data_idxs]
        
        # заполнение столбца user_id
        us_id = int(re.search('user\d{4}', path)[0][-4:])
        user_id = pd.DataFrame({'user_id': [us_id]*(sess_data.shape[0])})
        file_sess_data = pd.DataFrame(np.hstack((sess_data, diff_times, start_hour, day_of_week, year, month, day,
                                                 time_of_day, user_id)))
        file_sess_data.columns = ['site'+str(i) for i in range(1, session_length+1)] + \
                                    ['diff_time'+str(i)for i in range(1, session_length+1)] + \
                                    ['start_hour', 'day_of_week', 'year', 'month', 'day', 'time_of_day'] + ['user_id']
        files_sess_data.append(file_sess_data)
    # объединение сессий со всех файлов в одну таблицу
    file_sess_data = pd.concat(files_sess_data, ignore_index=True)
    file_sess_data.index.name = 'session_id'
    file_sess_data.index += 1
    
    return file_sess_data.astype(int)

### Создание датафреймов из исходных данных  с swt = (15, 5, 30)

In [4]:
train_data_3users = prepare_train_set(os.path.join(PATH_TO_DATA, '3users'), 
                                      os.path.join(PATH_TO_DATA, 'site_freq_3users.pkl'),
                                     session_length=15, window_size=5, time_limit=30*60)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=3.0), HTML(value='')))

In [5]:
train_data_3users.iloc[:, :15].head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,site11,site12,site13,site14,site15
session_id,,,,,,,,,,,,,,,
1,3,2,2,0,0,0,0,0,0,0,0,0,0,0,0
2,7,2,1,8,5,9,10,0,0,0,0,0,0,0,0
3,3,1,1,1,0,0,0,0,0,0,0,0,0,0,0
4,3,2,6,0,0,0,0,0,0,0,0,0,0,0,0
5,6,2,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
train_data_3users.iloc[:, 15:30].head()

,diff_time1,diff_time2,diff_time3,diff_time4,diff_time5,diff_time6,diff_time7,diff_time8,diff_time9,diff_time10,diff_time11,diff_time12,diff_time13,diff_time14,diff_time15
session_id,,,,,,,,,,,,,,,
1,287,1184,6278,0,0,0,0,0,0,0,0,0,0,0,0
2,186,2,1,2,3,55,3540,0,0,0,0,0,0,0,0
3,2,3,55,0,0,0,0,0,0,0,0,0,0,0,0
4,287,1184,6278,0,0,0,0,0,0,0,0,0,0,0,0
5,186,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
train_data_3users.iloc[:, 30:37].head()

            start_hour  day_of_week  year  month  day  time_of_day  user_id
session_id
1                    9            4  2013     11   15            0        1
2                   11            4  2013     11   15            0        1
3                   12            4  2013     11   15            1        1
4                    9            4  2013     11   15            0        2
5                   11            4  2013     11   15            0        2

In [8]:
%%time
train_data_10users = prepare_train_set(os.path.join(PATH_TO_DATA, '10users'), 
                                       os.path.join(PATH_TO_DATA, 'site_freq_10users.pkl'),
                                     session_length=15, window_size=5, time_limit=30*60)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

Wall time: 12.1 s

In [9]:
train_data_10users.iloc[:, :15].head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,site11,site12,site13,site14,site15
session_id,,,,,,,,,,,,,,,
1,192,574,133,3,133,133,3,133,203,133,415,193,674,254,133
2,133,3,133,203,133,415,193,674,254,133,31,393,3305,217,55
3,415,193,674,254,133,31,393,3305,217,55,55,3,55,55,5
4,31,393,3305,217,55,55,3,55,55,5,293,415,333,897,55
5,55,3,55,55,5,293,415,333,897,55,473,3306,473,55,55

In [9]:
%%time
train_data_150users = prepare_train_set(join(PATH_TO_DATA, '150users'), join(PATH_TO_DATA, 'site_freq_150users.pkl'),
                                     session_length=15, window_size=5, time_limit=30*60)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=150.0), HTML(value='')))

Wall time: 1min 32s

In [20]:
train_data_150users.head()

NameError: name 'train_data_150users' is not defined

In [11]:
%%time
train_data_all_users = prepare_train_set(join(PATH_TO_DATA, 'all_users'), join(PATH_TO_DATA, 'site_freq_all_users.pkl'),
                                     session_length=15, window_size=5, time_limit=30*60)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=3370.0), HTML(value='')))

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [12]:
train_data_all_users.isna().any().any()

NameError: name 'train_data_all_users' is not defined

In [16]:
train_data_all_users.head(15)

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,...,diff_time7,diff_time8,diff_time9,diff_time10,diff_time11,diff_time12,diff_time13,diff_time14,diff_time15,user_id
session_id,,,,,,,,,,,,,,,,,,,,,
1,1,4,2,2,4,1,38,59,73,73,...,0,46,330,3675,0,0,0,0,0,1
2,1,2,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,70,1,40,35,70,35,70,40,35,70,...,0,0,1,0,0,0,1,1,0,1
4,35,70,40,35,70,35,67,65,67,65,...,0,1,1,0,0,0,0,1,0,1
5,35,67,65,67,65,40,70,35,67,40,...,0,0,1,0,0,0,0,1,0,1
6,40,70,35,67,40,35,65,67,70,35,...,0,0,1,0,0,0,1,4,0,1
7,35,65,67,70,35,40,65,67,67,67,...,0,1,4,0,0,134,0,0,0,1
8,40,65,67,67,67,65,40,35,67,70,...,134,0,0,0,0,235,0,0,0,1
9,65,40,35,67,70,65,40,65,70,67,...,235,0,0,0,0,1,1,0,0,1
10,65,40,65,70,67,35,40,67,65,67,...,1,1,0,0,0,0,1,1,0,1
11,35,40,67,65,67,70,40,35,65,67,...,0,1,1,0,0,1,0,0,0,1
12,70,40,35,65,67,65,70,35,40,67,...,1,0,0,0,8,0,0,0,0,1
13,65,70,35,40,67,65,67,70,65,35,...,0,0,0,0,1,0,0,1,0,1
14,65,67,70,65,35,40,65,40,67,67,...,0,0,1,0,0,0,0,1,5,1
15,40,65,40,67,67,70,65,40,35,67,...,0,0,1,5,0,0,0,0,1,1

In [15]:
PATH_TO_EXPS = 'user_identification_exps'

In [16]:
train_data_3users.to_csv(join(PATH_TO_EXPS, 
                                       'train_data_3users.csv'), 
                        index_label='session_id', float_format='%d')
train_data_10users.to_csv(join(PATH_TO_EXPS, 
                                        'train_data_10users.csv'), 
                         index_label='session_id', float_format='%d')
train_data_150users.to_csv(join(PATH_TO_EXPS, 
                                       'train_data_150users.csv'), 
                        index_label='session_id', float_format='%d')

In [14]:
train_data_all_users.to_csv(join(PATH_TO_EXPS, 
                                        'train_data_all_users.csv'), 
                         index_label='session_id', float_format='%d')

NameError: name 'train_data_all_users' is not defined

#### Создание разреженнной матрицы "мешка слов"

In [10]:
def prepare_csr(X):
    """Функция, создающая csr-матрицу из матрицы вхождений сайтов в сессию"""
    data = np.ones(X.size, dtype=int)
    indices = X.reshape(-1)
    indptr = np.arange(X.shape[0] + 1) * X.shape[1]
    return csr_matrix((data, indices, indptr), dtype=int)[:, 1:]

In [11]:
X_sparse_3users = prepare_csr(train_data_3users.iloc[:, :15].values)
X_sparse_3users

<8x11 sparse matrix of type '<class 'numpy.intc'>'
	with 32 stored elements in Compressed Sparse Row format>

In [12]:
X_sparse_3users.todense()

matrix([[0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0],
        [3, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [3, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1],
        [1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0]], dtype=int32)

### Подготовка датасетов с разными параметрами swt

In [16]:
%%time
data_lengths = []

for window_size, session_length, time_limit in tqdm(list(itertools.product([10, 7, 5], [15, 10, 7, 5], [5, 10, 15, 20, 30]))):
    if window_size <= session_length:
        train_data = prepare_train_set(os.path.join(PATH_TO_DATA, '10users'), 
                                       os.path.join(PATH_TO_DATA, 'site_freq_10users.pkl'),
                                     session_length, window_size, time_limit*60)
        X_sparse = prepare_csr(train_data.iloc[:, :session_length].values)
        y = train_data.user_id.values
        data_lengths.append(X_sparse.shape[0])
        with open(os.path.join(os.path.join(PATH_TO_EXPS, 'swt_tuning'), 
                                  'X_sparse_10users_s'+str(session_length)+'_w'+str(window_size)+'_t'+str(time_limit)+'.pkl'),
                     'wb') as X_pkl:
            pickle.dump(X_sparse, X_pkl, protocol=2)
        with open(os.path.join(os.path.join(PATH_TO_EXPS, 'swt_tuning'), 
                     'y_10users_s'+str(session_length)+'_w'+str(window_size)+'_t'+str(time_limit)+'.pkl'), 'wb') as y_pkl:
            pickle.dump(y, y_pkl, protocol=2)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=60.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

Wall time: 9min 28s

### Подготовка датасетов на 10 и 150 пользователей с параметрами аналогичными данным из соревнования Catch Me

In [5]:
%%time
train_data_10users = prepare_train_set(os.path.join(PATH_TO_DATA, '10users'), 
                                       os.path.join(PATH_TO_DATA, 'site_freq_10users.pkl'),
                                     session_length=10, window_size=10, time_limit=30*60)
train_data_150users = prepare_train_set(os.path.join(PATH_TO_DATA, '150users'), 
                                        os.path.join(PATH_TO_DATA, 'site_freq_150users.pkl'),
                                     session_length=10, window_size=10, time_limit=30*60)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=150.0), HTML(value='')))

Wall time: 1min 18s

In [6]:
train_data_10users.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,...,diff_time8,diff_time9,diff_time10,start_hour,day_of_week,year,month,day,time_of_day,user_id
session_id,,,,,,,,,,,,,,,,,,,,,
1,192,574,133,3,133,133,3,133,203,133,...,1,0,0,8,4,2013,11,15,0,31
2,415,193,674,254,133,31,393,3305,217,55,...,3,8,1,8,4,2013,11,15,0,31
3,55,3,55,55,5,293,415,333,897,55,...,0,0,0,8,4,2013,11,15,0,31
4,473,3306,473,55,55,55,55,937,199,123,...,0,0,0,8,4,2013,11,15,0,31
5,342,55,5,3307,258,211,3308,2086,675,2086,...,1,0,1,8,4,2013,11,15,0,31

In [10]:
train_data_10users.to_csv(os.path.join(PATH_TO_EXPS, 
                                        'train_data_10users_for_catch_me.csv'), 
                         index_label='session_id', float_format='%d')
train_data_150users.to_csv(os.path.join(PATH_TO_EXPS, 
                                       'train_data_150users_for_catch_me.csv'), 
                        index_label='session_id', float_format='%d')

## Подготовка данных для kaggle Catch me

In [5]:
PATH_TO_DATA = '..\\capstone_user_identification'

In [6]:
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'),
                       index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'),
                      index_col='session_id')

In [15]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

In [38]:
timestamp = train_df[['time'+str(i) for i in range(1, 11)]].apply(pd.to_datetime)
timestamp

,time1,time2,time3,time4,time5,time6,time7,time8,time9,time10
session_id,,,,,,,,,,
1,2014-02-20 10:02:45,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2014-02-22 11:19:50,2014-02-22 11:19:50,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:51,2014-02-22 11:19:52,2014-02-22 11:19:52,2014-02-22 11:20:15,2014-02-22 11:20:16
3,2013-12-16 16:40:17,2013-12-16 16:40:18,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:19,2013-12-16 16:40:20,2013-12-16 16:40:21,2013-12-16 16:40:22,2013-12-16 16:40:24
4,2014-03-28 10:52:12,2014-03-28 10:52:42,2014-03-28 10:53:12,2014-03-28 10:53:42,2014-03-28 10:54:12,2014-03-28 10:54:42,2014-03-28 10:55:12,2014-03-28 10:55:42,2014-03-28 10:56:12,2014-03-28 10:56:42
5,2014-02-28 10:53:05,2014-02-28 10:55:22,2014-02-28 10:55:22,2014-02-28 10:55:23,2014-02-28 10:55:23,2014-02-28 10:55:59,2014-02-28 10:55:59,2014-02-28 10:55:59,2014-02-28 10:57:06,2014-02-28 10:57:11
...,...,...,...,...,...,...,...,...,...,...
253557,2013-11-25 10:26:54,2013-11-25 10:26:58,2013-11-25 10:27:03,2013-11-25 10:27:04,2013-11-25 10:27:13,2013-11-25 10:27:16,2013-11-25 10:27:28,2013-11-25 10:27:40,2013-11-25 10:27:52,2013-11-25 10:27:53
253558,2013-03-12 16:01:15,2013-03-12 16:01:16,2013-03-12 16:01:16,2013-03-12 16:01:17,2013-03-12 16:01:17,2013-03-12 16:01:17,2013-03-12 16:01:18,2013-03-12 16:01:18,2013-03-12 16:01:18,2013-03-12 16:01:18
253559,2013-09-12 14:05:03,2013-09-12 14:05:10,2013-09-12 14:05:10,2013-09-12 14:06:29,2013-09-12 14:06:30,NaT,NaT,NaT,NaT,NaT
253560,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:22,2013-12-19 15:20:23,2013-12-19 15:20:23,2013-12-19 15:20:23,2013-12-19 15:20:24,2013-12-19 15:20:24
253561,2014-04-25 09:56:52,2014-04-25 09:56:53,2014-04-25 09:56:53,2014-04-25 09:56:54,2014-04-25 09:56:54,2014-04-25 09:56:54,2014-04-25 09:56:54,2014-04-25 09:56:55,2014-04-25 09:56:55,2014-04-25 09:56:55

In [41]:
diff_times = pd.Series(timestamp.values.ravel())
diff_times = (diff_times - diff_times.shift(1)).apply(lambda x: x.total_seconds())
diff_times[:15]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    0.0
12    1.0
13    0.0
14    0.0
dtype: float64

In [42]:
diff_times.shape

(2535610,)

In [43]:
diff_times.index -= 1

In [45]:
diff_times = diff_times.drop([-1])

In [50]:
diff_times = diff_times.append(pd.Series(0), ignore_index=True)

In [55]:
diff_times.shape[0]/10

253561.0

In [56]:
diff_times = diff_times.values.reshape((int(diff_times.shape[0]/10), 10))

In [58]:
diff_times.shape

(253561, 10)

In [30]:
def prepare_train_set_from_ready(df):
    sess_data = df[['site'+str(i) for i in range(1, 11)]]
    
    timestamp = df[['time'+str(i) for i in range(1, 11)]].apply(pd.to_datetime)
    
    diff_times = pd.Series(timestamp.values.ravel())
    diff_times = (diff_times - diff_times.shift(1)).apply(lambda x: x.total_seconds())
    diff_times.index -= 1
    diff_times = diff_times.drop([-1])
    diff_times = diff_times.append(pd.Series(0), ignore_index=True)
    diff_times = diff_times.values.reshape((int(diff_times.shape[0]/10), 10))[:, :-1]
    
    user_time = timestamp.iloc[:, 0]
    # вычисление часа захода на сайт
    start_hour = user_time.apply(lambda x: x.hour).values[:, np.newaxis]
    # вычисление дня недели захода на сайт
    day_of_week = user_time.apply(lambda x: x.weekday()).values[:, np.newaxis]
    # вычисление года захода на сайт
    year = user_time.apply(lambda x: x.year).values[:, np.newaxis]
    # вычисление месяца захода на сайт
    month = user_time.apply(lambda x: x.month).values[:, np.newaxis]
    # вычисление дня месяца захода на сайт
    day = user_time.apply(lambda x: x.day).values[:, np.newaxis]
    # вычисление времени суток захода на сайт
    time_of_day = user_time.apply(lambda x: x.hour)
    time_of_day[time_of_day<12] = 0
    time_of_day[time_of_day.between(12, 16)] = 1
    time_of_day[time_of_day>16] = 2
    time_of_day = time_of_day.values[:, np.newaxis]
    
    file_sess_data = pd.DataFrame(np.hstack((sess_data.values, diff_times, start_hour, day_of_week, year, month, day,
                                                 time_of_day)))
    file_sess_data.columns = ['site'+str(i) for i in range(1, 11)] + \
                                    ['diff_time'+str(i)for i in range(1, 10)] + \
                                    ['start_hour', 'day_of_week', 'year', 'month', 'day', 'time_of_day']
    
    return file_sess_data.fillna(0).astype(int)

In [27]:
train_catch_me = prepare_train_set_from_ready(train_df)

In [28]:
train_catch_me.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,...,diff_time6,diff_time7,diff_time8,diff_time9,start_hour,day_of_week,year,month,day,time_of_day
0,718,0,0,0,0,0,0,0,0,0,...,0,0,0,0,10,3,2014,2,20,0
1,890,941,3847,941,942,3846,3847,3846,1516,1518,...,1,0,23,1,11,5,2014,2,22,0
2,14769,39,14768,14769,37,39,14768,14768,14768,14768,...,1,1,1,2,16,0,2013,12,16,1
3,782,782,782,782,782,782,782,782,782,782,...,30,30,30,30,10,4,2014,3,28,0
4,22,177,175,178,177,178,175,177,177,178,...,0,0,67,5,10,4,2014,2,28,0

In [31]:
test_catch_me = prepare_train_set_from_ready(test_df)

In [32]:
test_catch_me.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,...,diff_time6,diff_time7,diff_time8,diff_time9,start_hour,day_of_week,year,month,day,time_of_day
0,29,35,22,321,23,2211,6730,21,44582,15336,...,0,0,6,0,11,5,2014,10,4,0
1,782,782,782,782,782,782,782,782,782,782,...,13,6,1,23,11,3,2014,7,3,0
2,55,55,55,55,55,55,55,55,1445,1445,...,1,1,14,3,15,4,2014,12,5,1
3,1023,1022,50,222,202,3374,50,48,48,3374,...,0,0,1,0,10,1,2014,11,4,0
4,301,301,301,66,67,69,70,68,71,167,...,0,0,0,4,15,4,2014,5,16,1

In [34]:
train_catch_me.to_csv(os.path.join(PATH_TO_DATA, 
                                       'train_catch_me.csv'), 
                        index_label='session_id', float_format='%d')
test_catch_me.to_csv(os.path.join(PATH_TO_DATA, 
                                        'test_catch_me.csv'), 
                         index_label='session_id', float_format='%d')

In [4]:
PATH_TO_ALICE = 'kaggle_catch_me_train\\Alice_log'

In [5]:
PATH_TO_OTHERS = 'kaggle_catch_me_train\\other_user_logs'

In [9]:
PATH_TO_DATA = 'kaggle_catch_me_train'

In [7]:
site_freq_catch_me = create_sites_dict('kaggle_catch_me_train\\for_dict')

In [8]:
site_freq_catch_me

{'www.google.fr': (1, 123776),
 'www.google.com': (2, 87619),
 'annotathon.org': (3, 77055),
 'apis.google.com': (4, 58258),
 'www.facebook.com': (5, 54094),
 'www.bing.com': (6, 46405),
 'blast.ncbi.nlm.nih.gov': (7, 43841),
 'www.ncbi.nlm.nih.gov': (8, 38194),
 'clients1.google.com': (9, 36085),
 'mail.google.com': (10, 35178),
 's.youtube.com': (11, 31391),
 'plus.google.com': (12, 30616),
 'safebrowsing-cache.google.com': (13, 27812),
 'accounts.google.com': (14, 25275),
 'twitter.com': (15, 23726),
 'platform.twitter.com': (16, 23495),
 'www.phylogeny.fr': (17, 23026),
 's-static.ak.facebook.com': (18, 22470),
 'www.youtube.com': (19, 20922),
 'static.ak.facebook.com': (20, 19683),
 'login.live.com': (21, 18130),
 'i1.ytimg.com': (22, 17270),
 'docs.google.com': (23, 16890),
 'translate.google.fr': (24, 15920),
 'drive.google.com': (25, 15879),
 'clients1.google.fr': (26, 14211),
 'safebrowsing.clients.google.com': (27, 13539),
 'api.bing.com': (28, 13534),
 'ajax.googleapis.com': (29, 13240),
 'mts0.google.com': (30, 11984),
 'bits.wikimedia.org': (31, 11812),
 'fr.wikipedia.org': (32, 10927),
 'mts1.google.com': (33, 10535),
 'download.jboss.org': (34, 10284),
 's.ytimg.com': (35, 10105),
 'api.twitter.com': (36, 9367),
 'h.live.com': (37, 9225),
 'clients6.google.com': (38, 9168),
 'connect.facebook.net': (39, 9109),
 'ts1.mm.bing.net': (40, 8911),
 'fr.openclassrooms.com': (41, 8852),
 'fr-mg42.mail.yahoo.com': (42, 8794),
 'r1---sn-gxo5uxg-jqbe.googlevideo.com': (43, 8682),
 'r2---sn-gxo5uxg-jqbe.googlevideo.com': (44, 8184),
 'accounts.youtube.com': (45, 8177),
 'ocsp.digicert.com': (46, 8155),
 'clients2.google.com': (47, 8151),
 'meta.wikimedia.org': (48, 8091),
 'r4---sn-gxo5uxg-jqbe.googlevideo.com': (49, 8066),
 'ieonline.microsoft.com': (50, 8024),
 'accounts.google.fr': (51, 7784),
 'khms1.google.fr': (52, 7574),
 'khms0.google.fr': (53, 7505),
 'www.ebi.ac.uk': (54, 7118),
 'maps.googleapis.com': (55, 6892),
 'gtglobal-ocsp.geotrust.com': (56, 6818),
 'live.lemde.fr': (57, 6281),
 'maps.google.fr': (58, 6247),
 'translate.google.com': (59, 6153),
 'javadl-esd-secure.oracle.com': (60, 5969),
 'r3---sn-gxo5uxg-jqbe.googlevideo.com': (61, 5857),
 'chatenabled.mail.google.com': (62, 5756),
 'gtssl-ocsp.geotrust.com': (63, 5745),
 'ocsp.verisign.com': (64, 5686),
 'go.microsoft.com': (65, 5578),
 'syndication.twitter.com': (66, 5350),
 'armmf.adobe.com': (67, 5023),
 'ocsp.thawte.com': (68, 4934),
 'www.linkedin.com': (69, 4912),
 'apr.lijit.com': (70, 4902),
 'talkgadget.google.com': (71, 4850),
 'static.ccm2.net': (72, 4849),
 'pixel.alephd.com': (73, 4660),
 'office.microsoft.com': (74, 4647),
 'windowslive.tt.omtrdc.net': (75, 4498),
 'gg.google.com': (76, 4453),
 'ts2.mm.bing.net': (77, 4424),
 'ts3.mm.bing.net': (78, 4395),
 'ts4.mm.bing.net': (79, 4392),
 'docs.codehaus.org': (80, 4354),
 'www.dailymotion.com': (81, 4229),
 'docs.oracle.com': (82, 4218),
 'login.yahoo.com': (83, 4151),
 'ocsp.usertrust.com': (84, 4076),
 '0.drive.google.com': (85, 4011),
 'webmail.laposte.net': (86, 3994),
 'ba.commentcamarche.net': (87, 3914),
 'deliv.leboncoin.fr': (88, 3781),
 'static.pubmed.gov': (89, 3776),
 'ssl.bing.com': (90, 3764),
 'ocsp.tcs.terena.org': (91, 3696),
 'ent.univ-bpclermont.fr': (92, 3656),
 'player.vimeo.com': (93, 3575),
 'www.arb-silva.de': (94, 3472),
 'go.trouter.io': (95, 3428),
 'secure.shared.live.com': (96, 3339),
 'fr.yahoo.com': (97, 3337),
 'pbs.twimg.com': (98, 3159),
 'people.directory.live.com': (99, 3136),
 'hal9000.redintelligence.net': (100, 3128),
 'disqus.com': (101, 3120),
 'www.univ-bpclermont.fr': (102, 3104),
 'res1.windows.microsoft.com': (103, 3063),
 'js.microsoft.com': (104, 3056),
 'www.googleapis.com': (105, 3052),
 'fpdownload2.macromedia.com': (106, 3005),
 'www.developpez.net': (107, 2939),
 'yt3.ggpht.com': (108, 2933),
 'www.commentcamarche.net': (109, 2913),
 'login.wikimedia.org': (110, 2841),
 'mediahb.com': (111, 2802),
 'its.tradelab.fr': (112, 2761),
 'download.oracle.com': (113, 2755),
 'rtbp-pixel.us.metanetwork.net': (114, 2754),
 'windows.microsoft.com': (115, 2706),
 'evsecure-ocsp.verisign.com': (116, 2699),
 '0.docs.google.com': (117, 2620),
 'plus.googleapis.com': (118, 2592),
 'cms.abmr.net': (119, 2570),
 'doug1izaerwt3.cloudfront.net': (120, 2565),
 'res2.windows.microsoft.com': (121, 2537),
 'www.leboncoin.fr': (122, 2478),
 'dnn506yrbagrg.cloudfront.net': (123, 2425),
 'mts2.google.com': (124, 2339),
 'www.lequipe.fr': (125, 2274),
 'i1.ztat.net': (126, 2266),
 'www.oracle.com': (127, 2248),
 'www.audienceinsights.net': (128, 2244),
 'mts3.google.com': (129, 2239),
 'stackoverflow.com': (130, 2232),
 'um.simpli.fi': (131, 2216),
 'banniere.reussissonsensemble.fr': (132, 2215),
 'code.jquery.com': (133, 2193),
 'static.ccmbg.com': (134, 2164),
 'www.gravatar.com': (135, 2144),
 'halc.iadvize.com': (136, 2119),
 'sb-ssl.google.com': (137, 2072),
 'storage.live.com': (138, 2004),
 'platform.linkedin.com': (139, 2001),
 'maps.google.com': (140, 1973),
 'g.msn.com': (141, 1972),
 'cbk0.googleapis.com': (142, 1964),
 'choices.truste.com': (143, 1938),
 'static.leboncoin.fr': (144, 1917),
 'khms0.google.com': (145, 1891),
 'static.s-sfr.fr': (146, 1874),
 'live.francetv.fr': (147, 1862),
 'ent-shasta-rrs.symantec.com': (148, 1833),
 'www.sfr.fr': (149, 1832),
 'www.squid-cache.org': (150, 1829),
 'www.reverso.net': (151, 1827),
 '0.gravatar.com': (152, 1811),
 'mail.live.com': (153, 1808),
 'office14client.microsoft.com': (154, 1805),
 'khms1.google.com': (155, 1777),
 'b.mail.google.com': (156, 1774),
 'webcam.oceanis.fr': (157, 1749),
 'ocsp.godaddy.com': (158, 1742),
 'p.sfx.ms': (159, 1725),
 'img.babylon.com': (160, 1697),
 'api.adyoulike.com': (161, 1693),
 'claroline.univ-bpclermont.fr': (162, 1677),
 'mt1.googleapis.com': (163, 1675),
 'mt0.googleapis.com': (164, 1660),
 's1.lemde.fr': (165, 1659),
 'www.sochi2014.com': (166, 1655),
 'cache.20minutes.fr': (167, 1653),
 '1.gravatar.com': (168, 1652),
 'sci.sciences.univ-bpclermont.fr': (169, 1649),
 'www.dropbox.com': (170, 1647),
 'ucs.query.yahoo.com': (171, 1642),
 'rp.gwallet.com': (172, 1628),
 'id.google.fr': (173, 1613),
 'fbstatic-a.akamaihd.net': (174, 1603),
 'pixel2368.everesttech.net': (175, 1577),
 'livepassdl.conviva.com': (176, 1569),
 'od2.visiblemeasures.com': (177, 1542),
 'www.iegallery.com': (178, 1541),
 'www.lefigaro.fr': (179, 1539),
 'security.debian.org': (180, 1539),
 'js.live.net': (181, 1532),
 'ajax.microsoft.com': (182, 1528),
 'go.disqus.com': (183, 1517),
 'ocsp.comodoca.com': (184, 1509),
 'r.ccmbg.com': (185, 1503),
 'fr.tennistemple.com': (186, 1501),
 's3.amazonaws.com': (187, 1495),
 'adventori.com': (188, 1486),
 'h2.msn.com': (189, 1483),
 'www.developpez.com': (190, 1468),
 'www.blogger.com': (191, 1443),
 'fr.msn.com': (192, 1442),
 'premium.hi-mediaserver.com': (193, 1435),
 '193.164.197.50': (194, 1433),
 'nsclick.baidu.com': (195, 1424),
 'match.rtbidder.net': (196, 1418),
 'www.linternaute.com': (197, 1403),
 'medias.lequipe.fr': (198, 1398),
 'cdn2.reverso.net': (199, 1388),
 '193.164.196.40': (200, 1384),
 'graph.facebook.com': (201, 1382),
 'dub126.mail.live.com': (202, 1380),
 '193.164.196.50': (203, 1360),
 'i.eurosport.fr': (204, 1357),
 'c.woopic.com': (205, 1351),
 'ad.publicidees.com': (206, 1344),
 '193.164.197.30': (207, 1339),
 '193.164.196.30': (208, 1338),
 '193.164.197.60': (209, 1329),
 '193.164.197.40': (210, 1323),
 '193.164.196.60': (211, 1322),
 'vk.com': (212, 1321),
 'dub122.mail.live.com': (213, 1321),
 'univ-bpclermont.cyberlibris.fr.sicd.clermont-universite.fr': (214, 1281),
 'backports.debian.org': (215, 1281),
 'ce.lijit.com': (216, 1280),
 'en.wikipedia.org': (217, 1270),
 'translate.google.cn': (218, 1261),
 'prod.registrar.skype.com': (219, 1260),
 'assets.pinterest.com': (220, 1257),
 'repo.maven.apache.org': (221, 1250),
 'widgets.pinterest.com': (222, 1244),
 'dub111.mail.live.com': (223, 1237),
 'plus.lefigaro.fr': (224, 1224),
 'ecx.images-amazon.com': (225, 1218),
 'wtpn.twenga.fr': (226, 1217),
 'www.youtube-nocookie.com': (227, 1216),
 '1.docs.google.com': (228, 1215),
 'p.typekit.net': (229, 1212),
 'ds.dellfix.com': (230, 1210),
 'books.google.fr': (231, 1207),
 'clients5.google.com': (232, 1207),
 'ea.numericable.fr': (233, 1206),
 'av.mediapostcommunication.net': (234, 1202),
 'www.covoiturage.fr': (235, 1181),
 'google.fr': (236, 1161),
 'c1.adform.net': (237, 1156),
 's0.wp.com': (238, 1155),
 'fnac.livechat.iadvize.com': (239, 1151),
 'smart.allocine.fr': (240, 1146),
 'data.ncaa.com': (241, 1143),
 'www.lemonde.fr': (242, 1136),
 'careers.stackoverflow.com': (243, 1127),
 'sports.sina.com.cn': (244, 1112),
 'geo0.ggpht.com': (245, 1099),
 'evintl-ocsp.verisign.com': (246, 1097),
 'img.youtube.com': (247, 1095),
 'pa.elsevier.com': (248, 1092),
 'caroline-conduite-formation-clermontferrand.packweb2.com': (249, 1087),
 'apnx-match.dotomi.com': (250, 1084),
 'images.orangepublicite.fr': (251, 1075),
 'o2i.univ-bpclermont.fr': (252, 1066),
 'fr-fr.facebook.com': (253, 1065),
 'www.pagesjaunes.fr': (254, 1058),
 'static.lequipe.fr': (255, 1048),
 'ak.cdiscount.com': (256, 1034),
 'www.futura-sciences.com': (257, 1033),
 'iapref.orange.fr': (258, 1023),
 'yui.yahooapis.com': (259, 1019),
 'dub130.mail.live.com': (260, 1006),
 'i2.ztat.net': (261, 999),
 'rubicon-match.dotomi.com': (262, 997),
 'translate.googleapis.com': (263, 997),
 'messagerie-12.sfr.fr': (264, 995),
 'api.skype.com': (265, 992),
 'ad.foxitsoftware.com': (266, 984),
 'www.wordreference.com': (267, 984),
 'dc1w54.wysistat.com': (268, 976),
 'www.lamontagne.fr': (269, 972),
 'api.fidji.lefigaro.fr': (270, 971),
 'pic.dhe.ibm.com': (271, 962),
 'www.demotivateur.fr': (272, 956),
 'cdn-careers.sstatic.net': (273, 955),
 'g.live.com': (274, 952),
 'media.melty.fr': (275, 947),
 'hm.baidu.com': (276, 947),
 'www.baidu.com': (277, 946),
 'www.w3schools.com': (278, 944),
 'www.leparisien.fr': (279, 942),
 's.videostep.com': (280, 936),
 'broadcast.piximedia.fr': (281, 933),
 'cimg.leguide.com': (282, 933),
 'www.laposte.net': (283, 926),
 'c.msn.com': (284, 924),
 'ws.mediapostcommunication.net': (285, 922),
 'probe.cedexis.org': (286, 919),
 'cloudfront.cedexis.com': (287, 916),
 'cbk1.googleapis.com': (288, 914),
 'level3.cedexis.com': (289, 910),
 'www.mathworks.fr': (290, 909),
 'chateaut.free.fr': (291, 905),
 'w.sharethis.com': (292, 900),
 'bibliotheque.clermont-universite.fr': (293, 899),
 'assets.tumblr.com': (294, 898),
 'www-fourier.ujf-grenoble.fr': (295, 892),
 'widget.achetezfacile.com': (296, 888),
 'www.cdiscount.com': (297, 888),
 'www.allocine.fr': (298, 874),
 'news.google.fr': (299, 874),
 'rs.mediapostcommunication.net': (300, 870),
 'mm.eulerian.net': (301, 867),
 'messagerie-11.sfr.fr': (302, 866),
 'messagerie-13.sfr.fr': (303, 864),
 'pr.ybp.yahoo.com': (304, 857),
 'videosfr.s3.amazonaws.com': (305, 853),
 'beacon.sina.com.cn': (306, 849),
 'proxy-bay-people.directory.live.com': (307, 848),
 'eulerian.canal-plus.com': (308, 843),
 'limelight.cedexis.com': (309, 839),
 'www.foxitsoftware.com': (310, 839),
 'fdata.over-blog.net': (311, 838),
 'mw2.google.com': (312, 837),
 'wenku.baidu.com': (313, 837),
 'rapidssl-ocsp.geotrust.com': (314, 832),
 'dub123.mail.live.com': (315, 832),
 'pings.conviva.com': (316, 828),
 'iz.orange.fr': (317, 827),
 'annotathon.univ-mrs.fr': (318, 821),
 '1.drive.google.com': (319, 819),
 'rbp.mxptint.net': (320, 819),
 'www.rcsb.org': (321, 819),
 'www.ibm.com': (322, 817),
 'www.jobaviz.fr': (323, 808),
 'www.amazon.fr': (324, 807),
 'dl.javafx.com': (325, 807),
 'dub110.mail.live.com': (326, 804),
 'webwangwang.taobao.com': (327, 804),
 'dl.patchbeam.com': (328, 800),
 'candidat.pole-emploi.fr': (329, 795),
 'mail.yahoo.com': (330, 795),
 'www.melty.fr': (331, 788),
 'accn.allocine.net': (332, 788),
 'fxfeeds.mozilla.com': (333, 786),
 'sync.uuidcshmg.com': (334, 776),
 'assets5.lefigaro.fr': (335, 775),
 'locdrop.query.yahoo.com': (336, 773),
 'fr.news.yahoo.com': (337, 771),
 'sourceforge.net': (338, 770),
 'www.freepdfconvert.com': (339, 768),
 'api.massrelevance.com': (340, 766),
 'www.tumblr.com': (341, 762),
 'byfiles.storage.msn.com': (342, 758),
 '2.docs.google.com': (343, 758),
 '0.talkgadget.google.com': (344, 757),
 'dub128.mail.live.com': (345, 749),
 'www.ultimedia.com': (346, 746),
 'admin.brightcove.com': (347, 743),
 'msc2.s-sfr.fr': (348, 743),
 'www.01net.com': (349, 738),
 'dl-web.dropbox.com': (350, 738),
 'www.mangareader.net': (351, 738),
 'search.mywebs.pro': (352, 737),
 'fastly.bench.cedexis.com': (353, 729),
 'www.w3.org': (354, 724),
 'pt200204.unica.com': (355, 722),
 'www.t2c.fr': (356, 721),
 'commons.wikimedia.org': (357, 720),
 'javadl-esd.sun.com': (358, 716),
 'www.lepoint.fr': (359, 714),
 'www.spi0n.com': (360, 710),
 'proxy-blu-people.directory.live.com': (361, 707),
 'lc.iadvize.com': (362, 706),
 'http.tidaltv.com': (363, 701),
 'gdata.youtube.com': (364, 697),
 'g-ecx.images-amazon.com': (365, 697),
 'geo1.ggpht.com': (366, 697),
 'dub121.mail.live.com': (367, 695),
 'cdlc.iadvize.com': (368, 694),
 'www.powerarchiver.com': (369, 691),
 'ycpi-mail-rest-core4.msg.yahoo.com': (370, 687),
 'www.apache.org': (371, 686),
 'www.info-jeunes.net': (372, 685),
 'dub114.mail.live.com': (373, 685),
 'word-view.officeapps.live.com': (374, 683),
 'img1.video.s-msn.com': (375, 681),
 'r.ccm2.net': (376, 680),
 'eu1.badoo.com': (377, 676),
 'c.fr.msn.com': (378, 671),
 'wwwimages.adobe.com': (379, 667),
 'mg.mail.yahoo.com': (380, 667),
 'forums.futura-sciences.com': (381, 666),
 'www.cbs.dtu.dk': (382, 664),
 's.huffpost.com': (383, 662),
 'rbx-cdn-tpn.c4tw.net': (384, 660),
 'accounts.google.co.ma': (385, 660),
 'i.htfacile.fr': (386, 658),
 'hub.video.msn.com': (387, 658),
 'mfr.meteofrance.com': (388, 654),
 'geo2.ggpht.com': (389, 649),
 'x2.vindicosuite.com': (390, 645),
 'player.mediabong.com': (391, 642),
 'geo3.ggpht.com': (392, 641),
 'de.tynt.com': (393, 640),
 'fnac.iadvize.com': (394, 639),
 'online.sokker.org': (395, 634),
 'dub115.mail.live.com': (396, 631),
 'sclick.baidu.com': (397, 629),
 's2.wp.com': (398, 627),
 'layout.eurosport.com': (399, 627),
 '2.bp.blogspot.com': (400, 624),
 'stackauth.com': (401, 621),
 'api.flattr.com': (402, 616),
 'www.mindat.org': (403, 614),
 'wwwd.caf.fr': (404, 613),
 'fr.web.img1.acsta.net': (405, 611),
 'fr.web.img6.acsta.net': (406, 611),
 'fls-eu.amazon.fr': (407, 610),
 'www.journaldugeek.com': (408, 609),
 'ljdchost.com': (409, 609),
 'www.20minutes.fr': (410, 607),
 'dictionnaire.reverso.net': (411, 606),
 'img1.blogblog.com': (412, 605),
 'armdl.adobe.com': (413, 604),
 'get.adobe.com': (414, 604),
 'smart2.allocine.fr': (415, 600),
 'fr.ask.com': (416, 600),
 'abs.twimg.com': (417, 598),
 'dub129.mail.live.com': (418, 597),
 'www.huffingtonpost.fr': (419, 597),
 'origin-www.20minutes.fr': (420, 596),
 'get.webwangwang.taobao.com': (421, 595),
 'i.huffpost.com': (422, 593),
 'z-ecx.images-amazon.com': (423, 592),
 'www.eurosport.fr': (424, 591),
 'cs.specificclick.net': (425, 589),
 'id.orange.fr': (426, 589),
 'marketplace.eclipse.org': (427, 588),
 'www.cbssports.com': (428, 587),
 'fr.web.img4.acsta.net': (429, 586),
 'www.linguee.fr': (430, 586),
 'jeu.carre.rouge.free.fr': (431, 582),
 'www.footmercato.net': (432, 580),
 'www.woodbrass.com': (433, 574),
 '1.bp.blogspot.com': (434, 573),
 'github.com': (435, 573),
 'download.eclipse.org': (436, 572),
 '4.bp.blogspot.com': (437, 571),
 'eu.battle.net': (438, 571),
 '3.bp.blogspot.com': (439, 567),
 'assets4.lefigaro.fr': (440, 564),
 'foglio.basilic.io': (441, 563),
 'pos.baidu.com': (442, 562),
 'apex.oracle.com': (443, 560),
 'www.radioscoop.com': (444, 560),
 'c2i.univ-bpclermont.fr': (445, 554),
 'h.bing.com': (446, 552),
 'msc1.s-sfr.fr': (447, 552),
 'rm.api.weibo.com': (448, 549),
 'eurosportbet.loa24.com': (449, 548),
 '1-50.completr.appspot.com': (450, 547),
 'shell.windows.com': (451, 546),
 'www.voyages-sncf.com': (452, 546),
 'fbexternal-a.akamaihd.net': (453, 544),
 'dub109.mail.live.com': (454, 541),
 'www.meteofrance.com': (455, 540),
 'skydrive.live.com': (456, 537),
 'js.wanadoo.fr': (457, 536),
 'cshoppingbox.partner.leguide.com': (458, 532),
 'www.francetvinfo.fr': (459, 531),
 'a69.g.akamai.net': (460, 529),
 'www.adobe.com': (461, 528),
 'nexus.ensighten.com': (462, 528),
 'wp.mail.qq.com': (463, 525),
 'cdnjs.cloudflare.com': (464, 524),
 'i10.twenga.com': (465, 523),
 'geo.mozilla.org': (466, 520),
 'infoterre.brgm.fr': (467, 520),
 'static.wanadoo.fr': (468, 517),
 'www.malgouyres.org': (469, 517),
 'player.ooyala.com': (470, 516),
 'www.talend.com': (471, 516),
 'ir2-attach.mail.yahoo.com': (472, 513),
 'dps.bing.com': (473, 509),
 'cm.adgrx.com': (474, 509),
 'catalogue.clermont-universite.fr': (475, 509),
 'referentiel.nouvelobs.com': (476, 504),
 'tracker.cds-tracking.com': (477, 502),
 'gmail.com': (478, 501),
 'dub116.mail.live.com': (479, 500),
 'a.fsdn.com': (480, 498),
 'i11.twenga.com': (481, 497),
 'feeds.bbci.co.uk': (482, 495),
 'bitgravity.cedexis.com': (483, 495),
 'www.wat.tv': (484, 494),
 'fr.ad4mat.net': (485, 493),
 'edt.univ-bpclermont.fr': (486, 492),
 'bdimg.share.baidu.com': (487, 490),
 'newsrss.bbc.co.uk': (488, 489),
 'i.stack.imgur.com': (489, 488),
 'style2.ad6.fr': (490, 486),
 'wd.sharethis.com': (491, 486),
 'ak.c.ooyala.com': (492, 486),
 'www.marchesonline.com': (493, 486),
 'www.gmail.com': (494, 485),
 's.tf1.fr': (495, 484),
 'static.videostep.com': (496, 483),
 'netdna.cedexis.com': (497, 483),
 'lh4.google.com': (498, 483),
 'socialprofiles.zenfs.com': (499, 483),
 'b12.myspace.com': (500, 482),
 'www.mozilla.org': (501, 479),
 'www.clubic.com': (502, 479),
 'listener.ezakus.net': (503, 477),
 'www.hotmail.com': (504, 477),
 'picda.ilius.net': (505, 476),
 'barreau.matthieu.free.fr': (506, 476),
 'lh3.google.com': (507, 475),
 'www2.wordreference.com': (508, 475),
 'track.zalando.fr': (509, 474),
 'metrics.sfr.fr': (510, 470),
 '93y7z60j4z.b.ad6media.fr': (511, 470),
 'ocsp.entrust.net': (512, 469),
 'khms2.google.com': (513, 469),
 'dub125.mail.live.com': (514, 468),
 'khms3.google.com': (515, 468),
 'lh6.google.com': (516, 467),
 'blufiles.storage.msn.com': (517, 466),
 'www.uniprot.org': (518, 463),
 'secure.skysa.com': (519, 463),
 'secure.footprint.net': (520, 462),
 'www.jeuxvideo.com': (521, 461),
 'www.imingo.com': (522, 461),
 'static.mediabong.com': (523, 460),
 'dub119.mail.live.com': (524, 458),
 'kh6qrx0f8h.s.ad6media.fr': (525, 457),
 'www.journaldugamer.com': (526, 457),
 'www.isima.fr': (527, 454),
 'www.letudiant.fr': (528, 452),
 'rm.piximedia.fr': (529, 449),
 'm.bestofmedia.com': (530, 449),
 'l.ooyala.com': (531, 447),
 'fr.web.img2.acsta.net': (532, 446),
 'y.one.impact-ad.jp': (533, 446),
 'dl2.traceparts.com': (534, 446),
 'loadr.exelator.com': (535, 445),
 'fastly.bench.cedexis.com.global.prod.fastly.net': (536, 445),
 'adzerk-www.s3.amazonaws.com': (537, 445),
 'stats.adobe.com': (538, 444),
 '1.www.s81c.com': (539, 444),
 'layout.eurosport.fr': (540, 441),
 'www.cartejeunes-nouveaumonde.fr': (541, 438),
 '160.92.123.193': (542, 437),
 'www.oracleimg.com': (543, 435),
 'www.fff.fr': (544, 435),
 's3-eu-west-1.amazonaws.com': (545, 434),
 'www.japan-shin.com': (546, 433),
 'www.sagemath.org': (547, 432),
 'bbcphotos.s3.amazonaws.com': (548, 432),
 'i4.ytimg.com': (549, 429),
 'fr.web.img3.acsta.net': (550, 428),
 'danstonchat.com': (551, 428),
 'ia.nspmotion.com': (552, 427),
 'sax.sina.com.cn': (553, 427),
 'www.hotmail.fr': (554, 425),
 'passport.baidu.com': (555, 425),
 'lh5.google.com': (556, 425),
 'a248.e.akamai.net': (557, 424),
 'logc258.at.pagesjaunes.fr': (558, 424),
 'widgets.wp.com': (559, 422),
 'www.dell.com': (560, 422),
 's1.wp.com': (561, 421),
 'www.tracepartsonline.net': (562, 421),
 't12.baidu.com': (563, 421),
 'www.widgetserver.com': (564, 421),
 'c.baidu.com': (565, 420),
 't10.baidu.com': (566, 420),

In [10]:
with open(join(PATH_TO_DATA, 'site_freq_catch_me.pkl'), 'wb') as site_freq_pkl:
            pickle.dump(site_freq_catch_me, site_freq_pkl, protocol=2)

In [ ]:
others_train_data = prepare_train_set()